<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>유저 정보 수정</title>
</head>
<body>
<h1>유저 정보 수정</h1>

<form th:action="@{|/users/edit/${user.id}|}" method="post">

    <label>이름:
        <input type="text" name="name" th:value="${user.name}" required/>
    </label><br/>

    <label>이메일:
        <input type="email" name="email" th:value="${user.email}" required/>
    </label><br/>

    <label>비밀번호:
        <input type="password" name="password" required/>
    </label><br/>

    <label>가입일:
        <input type="date" name="createAt" th:value="${#temporals.format(user.createAt, 'yyyy-MM-dd')}" required/>
    </label><br/>

    <button type="submit">수정</button>
</form>


<a href="/users">목록으로</a>
</body>
</html>
